# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

/backend/__pycache__
/backend/.env
/backend/extensions_dir/*


# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem
/frontend/package-lock.json

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# local env files
/frontend/.env*.local

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# swap files
*.sw*

# generic virtual environments
*/venv
